@font-face {
    font-family: 'Libre';
    src: url(../assets/fonts/LibreFranklin-Regular.ttf);
}
@font-face {
    font-family: 'Libre-Bold';
    src: url(../assets/fonts/LibreFranklin-Bold.ttf);
}
@font-face {
    font-family: 'Libre-Italic';
    src: url(../assets/fonts/LibreFranklin-Italic.ttf);
}
*{
   font-family: 'Libre';
   /* outline: solid red 1px; */
}
body{
    margin: 0px;
    width: 100%;
}
.logo-nav-bar{
    display: flex; 
    justify-content: space-between; 
    max-width: 100%;
    margin: 0;
}
.logo-icon{
    height: 150px;
    width: 100%;
    object-fit: fill;
    display: block;
    margin: 0;
}
.navbar-info{
    margin-top: 5px;
    padding-right: 60px;
}
.head-1{
    font-family: 'Libre-Bold';
    line-height: 1px;
    font-size: 31px;
    letter-spacing: 2px;
    color: #c62828;
}
.hr{
    background-color: #1F2937;
    width: auto;
    height: 4px;
    margin-bottom: -8px;
}
.head-2{
    font-family: 'Libre-Bold';
    color: #212121;
    font-size: 56px;
    line-height: 1px;
    letter-spacing: 4px;
    align-items: center;
}
.text-1{
    color: #616161;
    font-family: 'Libre-Bold';
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: -18px;
}
.nav-home{
    max-width: 100%;
    height: 70px;
    background-image: linear-gradient(#b82424, #911d1d);
    display: flex;
    gap: 12px;
    justify-content: end;
    align-items: center;
    margin-top: -20px;
}
.menu {
    display: none; 
    position: relative;
    left: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menu span {
    display: block; 
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
    margin-bottom: 5px;  
}
.nav-item{
    color: #fff;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
}
.nav-item:hover{
    background-color: #807f7f;
}
.img-form{
   display: flex;
   padding: 45px;
   gap: 20px;
}
.guarantee-banner{
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.form-content{
    background-image: url(./assets/images/form_bg.jpg);
    background-size: cover;
    width: 100%;  
    background-repeat: no-repeat;
    background-position: top;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    margin: 0;
}
.p1-form{
    background-color: #B00704;
    color: #fff;
    font-family: 'Libre';
    font-size: 26px;
    height: 32px;
    width: 34%;
    align-items: center;
    margin-top: 0;
    padding: 0.15em;
    padding-left: 0.35em;
    letter-spacing: 2px;
}
.span-form{
    display: flex;
    margin: 0;
    gap: 20px;
}
.p2-form{
    margin-top: -0.5px;
    font-size: 28px;
    color: #000;
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold;
}
.span-qn{
    font-size: 34px;
    color: #1E3A8A;
    font-family: 'Libre-Bold';
}
.p3-form{
    padding-left: 18px;
    font-size: 20px;
    margin-top: -5px;
}
.name-label, .email-label, .phone-label{
    font-size: 18px;
    font-family: 'Libre-Bold';
    padding-left: 40px;
}
.name-text, .email-text, .phone-text{
    width: 160px;
    height: 30px;
    margin-left: 10px;
}
.email-text {
    margin-left: 15px;
}
.name-text{
    margin-left: 17px;
}
.form-elements{
    display: flex;
    width: 100%;
    gap: 30px;
}
.confidential{
    display: block;
    width: 120%;
    height: auto;
    margin: 30px 0 0;
    transform: rotate(12deg);
    padding-top: 10px;
}
.comment-box{
    margin-left: 50px;
    font-family: 'Libre-Bold';
    width: 80%;
    height: 78px;
    font-weight: bolder;
    color: #374151;
    font-size: 24px;
    padding: 8px;
}
.form-bottom{
    padding-top: 6px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.form-guarantee{
    font-family: 'Libre-Italic';
    font-weight: lighter;
    color: #4B5563;
    font-size: 16px;
}
.button-ask{
    background-image: linear-gradient(#b00704, #911d1d);
    color: #fff;
    border: solid #b00704;
    border-radius: 2px;
    padding: 16px 12px 16px 12px;
    font-size: 18px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Libre-Bold';
    height: 45px;
}
.arrow{
    margin-left: 8px;
    width: 14px;
    height: 14px;
}
.middle-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid #f4f2f2 1px;
    border-bottom: none;
    padding-left: 40px;
    padding-right: 40px;
}
.column-1{
    width: 30%;
    margin-right: 40px;
    margin-left: 50px;
}
.p-text{
    padding-right: 24px;
}
.head-inner{
    color: #616161;
    font-family: 'Libre-Bold';
    font-size: 28px;
    line-height: none;
    padding-right: 28px;
}
.head-inner-span{
    color: #7F1D1D;
    font-size: 28px;
    font-family: 'Libre-Bold';
}
.head-inner-1{
    color: #7F1D1D;
    font-size: 20px;
    font-family: 'Libre-Bold';
    margin-top: -10px;
}
.text-and-img-inner{
    display: flex;
    gap: 8px;
}
.text-inner-column-1, .p-text{
    color: #9E9E9E;
    font-family: 'Libre-Bold';
    font-size: 20px;
    line-height: 32px;
}
.clipboard{
    margin-top: 10px;
    width: 100px;
    height: auto;
}
.inner-button{
    background-image: linear-gradient(#b00704, #911d1d);
    color: #fff;
    border: solid #b00704;
    border-radius: 2px;
    padding: 2px 12px 2px 12px;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}
.arrow-inner{
    width: 16px;
    height: 18px;
    margin-left: 8px;
}
.inner-column-button{
    justify-content: end;
}
.hr-button{
    margin-bottom: -1px;
    background-color: #9ca3af;
    height: 1px;
    width: 40%;
}
.column-2{
    display: grid;
    width: 50%;
}
.box-1{
    border-left: solid #dbdbdb 2px;
    border-right: solid #dbdbdb 2px;
    padding: 30px;
    height: auto;
}
.box-2{
    border-left: solid #dbdbdb 2px;
    border-right: solid #dbdbdb 2px;
    border-top:  solid #dbdbdb 2px;
    padding: 30px;
    height: auto;
}
.box-head{
    color: #616161;
    font-family: 'Libre-Bold';
    font-size: 28px;
    letter-spacing: 2px;
}
.box-span{
    color: #7F1D1D;
    font-family: 'Libre-Bold';
}
.text-box-1{
    margin-top: -14px;
}
.text-img{
    display: flex;
    gap: 8px;
}
.laptop{
    margin-top: 4px;
    width: 150px;
    height: auto;
    margin-right: 20px;
}
.book{
    width: 170px;
    height: auto;
    margin-top: 4px;
    margin-right: 20px;
}
.column-3{
    padding: 38px;
    width: 30%;
}
.img-box{
    display: flex;
    justify-content: space-around;
}
.rating{
    width: 100px;
    height: auto;
}
.nc{
    width: 120px;
    height: auto;
}
.hr-shadow{
    width: 100%;
    opacity: 0.4;
}
.lower-section{
    display: flex;
    padding-left: 50px;
    align-items: center;
    gap: 58px;
}
.section-1, .section-2, .section-3, .section-4{
    background-color: #888084;
    width: 250px;
    height: auto;
    border-left: 8px solid linear-gradient(#911d1d, #000);
}
/* .item-1, .item-2, .item-3{
    padding: 24px;
}*/
.item-3{
    padding-right: 14px;
}
.item-2{
    width: 50%;
    padding-left: 14px;
    padding-right: 14px;
}
.h-1{
    font-family: 'Libre-Bold';
    font-size: 18px;
    color: #fff;
    padding-left: 14px;
    padding-top: 8px;
    margin-bottom: -4px;
    letter-spacing: 2px;
}
.t-1{
    font-size: 20px;
    color: #fff;
    letter-spacing: 2px;
}
.make-btn{
    display: flex;
    justify-content: end;
    align-content: center;
    padding-right: 10px;
    gap: 5px;
}
.arrow-red{
    width: 14px;
    height: 19px;
}
.menu-text{
    display: flex;
    justify-content: center;
}
.p-menu{
    color: #bdbdbd;
    font-family: 'Libre-Bold';
    line-height: 38px;
    font-size: 26px;
    letter-spacing: 2px;
}
.section-2a{
    justify-content: center;
    align-content: center;
    padding: 40px;
    width: 50%;
}
.h-2{
    color: #616161;
    font-family: 'Libre-Bold';
    font-size: 28px;
    line-height: none;
    margin-bottom: -8px;
}
.p-2{
    color: #9E9E9E;
    font-family: 'Libre-Bold';
    line-height: 34px;
    font-size: 18px;
}
.section-button{
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.p-3{
    padding-right: 48px;
    color: #9E9E9E;
    font-family: 'Libre-Bold';
    line-height: none;
    font-size: 20px;
}
.images-lower{
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 40px;
}
/* .nc-low{
    width: 90%;
} */
.rating-low{
    width: 90%;
}
.box-head-low{
    color: #616161;
    font-family: 'Libre-Bold';
    font-size: 28px;
    letter-spacing: 1px;
}

.hr-low{
    background-color: #616161;
    margin-top: -14px;
    height: 2px;
}
.follow-text-icons{
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    gap: 10px;
    justify-content: center;
}
 .fb, .google, .twitter, .linked-in{
    width: 35px;
    height: auto;
} 
.bottom-border{
    background-color: linear-gradient( #b91c1c, #7f1d1d);
    width: 100%;
    height: 20px;
}
@media screen and (max-width: 1160px){
    .logo-nav-bar{
        flex-direction: column;
    }
    .navbar-info{
        padding: none;
        margin-top: none;
    }
    .logo-icon{
        width: 100%;
    }

}
@media screen and (max-width:525px){
    .head-1{
       font-size: 20px;
    }
    .head-2{
        font-size: 30px
    }
    .text-1{
        font-size: 18px;
    }
    .confidential{
        width: auto;
    }
}
@media screen and (max-width: 1028px){
    .nav-item{
        display: none;
    }
    .text-1{
        margin-top: 2px;
    }
    .nav-home{
        height: 55px;
        justify-content: start;
    }
    .menu{
        display: flex;
    }
}