<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keefer</title>
    <link rel="stylesheet" href="heroSection.css">
</head>
<body>
    <div class="logo-nav-bar">
      <img src="../assets/images/logo.png" alt="error-logo-keefer" class="logo-icon">
      <div class="navbar-info">
      <h1 class="head-1">CALL OUR OFFICES NOW!</h1>
      <hr class="hr">
      <h2 class="head-2">540.433.6906</h2>
      <h2 class="text-1">Get Your Questions Answered Fast</h2>
      </div>        
    </div>
    <div class="nav-home">
      <div class="nav-item">HOME</div>
      <div class="nav-item">BIOGRAPHY</div>
      <div class="nav-item">BLOG</div>
      <div class="nav-item">AREA WE SERVE</div>
      <div class="nav-item">LIBRARY</div>
      <div class="nav-item">CONTACT</div>
    </div>
</body>
</html>