<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keefer</title>
    <link rel="stylesheet" href="heroSection.css">
</head>
<body>
    <div class="logo-nav-bar">
      <div class="img-icon">
      <img src="../assets/images/logo.png" alt="error-logo-keefer" class="logo-icon">
      </div>
      <div class="navbar-info">
      <h1 class="head-1">CALL OUR OFFICES NOW !</h1>
      <hr class="hr">
      <h2 class="head-2">540.433.6906</h2>
      <h2 class="text-1">Get Your Questions Answered Fast</h2>
      </div>        
    </div>
    <div class="nav-home">
      <div class="menu"> 
        <span></span>
        <span></span>
        <span></span>
    </div>
      <div class="nav-item">HOME</div>
      <div class="nav-item">BIOGRAPHY</div>
      <div class="nav-item">BLOG</div>
      <div class="nav-item">AREA WE SERVE</div>
      <div class="nav-item">LIBRARY</div>
      <div class="nav-item">CONTACT</div>
    </div>
   <div class="img-form">
      <img class="guarantee-banner" src="../assets/images/gurantee_banner.gif" alt="error_gb">
      <div class="form-content">
        <span class="span-form">
          <p class="p1-form">QUESTIONS?</p>
          <p class="p2-form">Have a <span class="span-qn">Question</span> about your case?</p>
        </span>
        <p class="p3-form">Enter your information and get your questions answered quickly and discreetly or call us at: 540.433.6906</p>
       <form>
       <span class="form-elements">
        <div class="form-e">
       <label class="name-label">NAME: </label>
       <input type="text" class="name-text">
       <br><br>
       <label class="email-label">EMAIL: </label>
       <input type="text" class="email-text">
       <br><br>
       <label class="phone-label">PHONE: </label>
       <input type="text" class="phone-text">
      </div>
      <div class="form-c">
        <img class="confidential" src="../assets/images/confidential.png" alt="error_confidential">
      </div>
      </span><br>
      <textarea class="comment-box">Tell us about your case here...</textarea>
      <br>
      <div class="form-bottom">
       <div class="form-guarantee">100% Privacy Guaranteed</div>
       <div class="button-div">
        <button class="button-ask">Ask Us About Your Case <img class="arrow" src="../assets/images/arrow_white.gif"></button>
       </div>
      </div>
      <br><br>
       </form>
      </div>
    </div> 
</body>
</html>